@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
}

.fp-watermark {
  display: none;
}

.nabvar .active {
  color: tomato;
}